.header {
    background-color: #03560e;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    z-index: 100;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  
  .logo img {
    width: 100px; 
    height: auto;
    margin-left: 20px; 
  }
  
  .nav_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav_menu ul li {
    display: inline;
    margin-right: 50px;
  }
  
  .nav_menu a {
    color: #fff;
    text-decoration: none;
    font-family: 'Tex Gyre Adventor';
    font-weight: bold;
    font-size: 21px;
  }
  
  .section {
    padding: 20px;
    height: 100vh;
  }

  .section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .section2{
    background-color: aqua;
  }

  .title_line{
    text-align: center;
    margin-top: -100px;
    font-size: 70px;
    font-family: 'Tex Gyre Adventor';
    font-weight: 600;
    color: #000000;
  }
  #bg-video {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit:cover;
    z-index: -1; 
  }
  .bt_home_exp{
    width: auto;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  


  @font-face {
    font-family: 'Tex Gyre Adventor';
    src: url(../fonts/tex-gyre-adventor/texgyreadventor-regular.otf);
  }

  @font-face {
    font-family: 'League Spartan';
    src: url('../fonts/league-spartan-master/LeagueSpartan-Bold.otf');
  }