.main_login {
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;

  }
  .login_title{
    padding-bottom: 15%;
    font-family: 'Sinkin Sans', sans-serif;
  }
  
  .login_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
    border: 3px solid rgb(255, 255, 255);
    box-shadow:
  3.6px 5.4px 8px rgba(0, 0, 0, 0.04),
  8.1px 12px 17.8px rgba(0, 0, 0, 0.059),
  13.8px 20.4px 30.3px rgba(0, 0, 0, 0.073),
  21.3px 31.5px 46.8px rgba(0, 0, 0, 0.084),
  31.6px 46.7px 69.3px rgba(0, 0, 0, 0.096),
  46.5px 68.6px 101.9px rgba(0, 0, 0, 0.107),
  69.6px 102.8px 152.7px rgba(0, 0, 0, 0.121),
  111px 163.8px 243.3px rgba(0, 0, 0, 0.14),
  208px 307px 456px rgba(0, 0, 0, 0.18)
;
    background-color: rgb(254, 254, 254);
    border-radius: 15px;
  }
  
  .input-field {
    width: 280px;
    height: auto;
    margin-left: auto;
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .login-btn {
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: auto;
    display: block;
  }
  .login-btn:hover{
    background-color: #0056b3;
  }
  .no_acc{
    justify-content: center;
    display: flex;
    margin-top: 10%;
    font-family: 'Codec Cold Regular', sans-serif;
  }
  .no_acc:hover{
    color: green;
  }
  
  .reg-btn:hover {
    background-color: #0056b3;
  }
  
  @font-face {
    font-family: 'Codec Cold Regular';
    src: url('../fonts/codec/Codec-Warm-Regular-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Sinkin Sans';
    src: url(../fonts/sinkin-sans/SinkinSans-400Regular.otf);
    font-weight: normal;
    font-style: normal;
  }