
.navbar {
    background-color: #030e4d;
    color: #fff;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    z-index: 100;
    position: fixed;
    width: 100%;
  }
  
  .button-container {
    position: relative;
    z-index: 101; 
  }
  .menu_icon{
    width: 2%;
    height: 3%;
    position: absolute;
    top: 50%;
  }
  
  @media (max-width: 768px) {
    .navbar {
      width: 50%;
    }
  }
  .profile_details{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 45%;
    top: 40%;
  }
  