.navbar {
    background-color: #030e4d;
    color: #fff;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    z-index: 100;
    position: fixed;
    width: 100%;
  }
  
  .logo_site img {
    width: 180px;
    height: auto;
  }
  
  .search-bar {
    position: relative;
    display: inline-flex;
    align-items: center;
  }
  
  .search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    width: 600px;
  }
  
  .search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: -30px;
  }
  
  .search-button img {
    width: 20px;
    height: 20px;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
    padding-right: 80px;
  }
  
  .nav-links li:last-child {
    padding-right: 0px;
  }
  
  .nav-links a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  
  .logout_btn {
    padding: 10px;
    color: white;
    font-size: 18px;
    border-radius: 7px;
    border: 1px solid rgb(242, 242, 242);
    background-color: #ffffff58;
    cursor: pointer;
  }
  
  .logout_btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
  }
  
  .welcome_user h1 {
    text-align: center;
    padding-top: 10%;
    text-decoration: underline;
  }
  
  .welcome_user h2 {
    text-align: center;
    padding-top: 2%;
  }
  
  .transaction-history {
    margin-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
  }
  
  .transaction-list {
    list-style-type: none;
    padding: 0;
  }
  
  .transaction-item {
    background-color: #f2f2f2;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .transaction-date {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .transaction-description {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .transaction-amount {
    font-size: 24px;
    font-weight: bold;
  }