.footer {
    height: 3rem;
    display: flex;
    background-color: #232728;
    color: #ffffff;
    position: fixed;
    width: 100vw;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    bottom: 0;
  }
.footer_container-x{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
}

.footer_container-y{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: center;
    gap: 2rem;
}

.instagram_img{
    width: 40px;
    height: 40px;
    display: flex;
    margin-top: -5px;
    padding-right: 2%;
  }
  .fb_img{
    display: flex;
    padding-right: 20%;
  }
  .x_img{
    display: flex;
    margin-top: -5px;
  }
  .socialmedia{
    display: flex;
    width:28px;
    height: 28px;
    
  }




